# Python-related files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Streamlit temporary files
.streamlit/
